<form class="show">
	<div class="form-group">
		<h2> Showing <%= pump.name %> </h2>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= pump.name %>" name="name" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Pumpcard</label>
	<input value="<%= pump.pumpCard %>" name="pumpCard" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Generation</label>
	<input value="<%= pump.generation %>" name="generation" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>LocationX</label>
	<input value="<%= pump.locationX %>" name="locationX" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>LocationY</label>
	<input value="<%= pump.locationY %>" name="locationY" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Gender</label>
	<input value="<%= pump.gender %>" name="gender" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>State</label>
	<input value="<%= pump.state %>" name="state" type="text" class="form-control" disabled/>
	</div>

</div>
</div>
<a href="/pump/edit/<%=pump.id %>" class="btn btn-default">Edit</a> |
<a href="/pump">Back to list</a>
</form>
