<div class="container">
	<h3>User Listing</h3>
	<table class='table table-hover table-condensed'>
	<tr>

	<th> name </th>

	<th> age </th>

	<th> email </th>

	<th> id </th>

	<th></th>
	<th></th>
	<th></th>
	<th></th>
</tr>
	<% _.forEach(users, function(user) { %>
    		<tr data-id="<%=user.id %>" data-model="user">

			<td><%= user.name%></td>

			<td><%= user.age%></td>

			<td><%= user.email%></td>

			<td><%= user.id%></td>

			<td><a href="/user/show/<%=user.id %>"  class="btn btn-primary btn-sm" role="button">Show</a></td>
			<td><a href="/user/edit/<%=user.id %>"  class="btn btn-primary btn-sm" role="button">Edit</a></td>

			<td><form action="/user/destroy/<%=user.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" value="Delete"  class="btn btn-danger btn-sm" role="button"/>
			</form></td>
		</tr>
<% }) %>
	</table>
	<a href="/user/new/" class="btn btn-success btn-sm" role="button">New User</a> |
	<a href="/">all scaffolds</a>
</div>
