<div class="container">
	<h3>Work Listing</h3>
	<table class='table table-hover table-condensed'>
	<tr>

	<th> company </th>

	<th> boss </th>

	<th> time </th>

	<th></th>
	<th></th>
	<th></th>
</tr>
	<% _.forEach(works, function(work) { %>
    		<tr data-id="<%=work.id %>" data-model="work">
		
			<td><%= work.company%></td>
		
			<td><%= work.boss%></td>
		
			<td><%= work.time%></td>
		
			<td><a href="/work/show/<%=work.id %>"  class="btn btn-primary btn-sm" role="button">Show</a></td>
			<td><a href="/work/edit/<%=work.id %>"  class="btn btn-primary btn-sm" role="button">Edit</a></td>

			<td><form action="/work/destroy/<%=work.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" value="Delete"  class="btn btn-danger btn-sm" role="button"/>
			</form></td>
		</tr>
<% }) %>
	</table>
	<a href="/work/new/" class="btn btn-success btn-sm" role="button">New Work</a> |
	<a href="/">all scaffolds</a>
</div>