<form class="show">
	<div class="form-group">
		<h2> a customer... </h2>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= user.name %>" name="name" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>state</label>
	<input value="<%= user.state %>" name="state" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>email</label>
	<input value="<%= user.email %>" name="email" type="text" class="form-control" disabled/>
	</div>

</div>
</div>
<a href="/user/edit/<%=user.id %>" class="btn btn-default">Edit</a> |
<a href="/customer">Back to list</a>
</form>

<form class="show" action="/stock/new" method="POST">
	<input value="<%= user.id %>" name="owner" type="hidden" />
	<input type="submit" value="Add Stock" class="btn btn-default"/> |
</form>
